<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="fortnite-name">Fortnite Challenges</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 *ngIf="season" class="season-title">
    <span>Season {{ season.current_season }}</span>
  </h2>

  <img *ngIf="season" src="{{ season.image.url }}" alt="Season {{ season.current_season }}">
  
  <div class="season-content" padding>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let season of seasons">
        <mat-expansion-panel-header color="dark">
          {{ season.data.name_to_show }}
        </mat-expansion-panel-header>
        <ion-list>
          <ion-item text-wrap *ngFor="let singleChallenge of season.data['challenges']">
            <ion-icon name="" color="primary" item-start>
              <img *ngIf="singleChallenge.pase_type == 'Free'" class="star__icon" src="assets/imgs/book-free.png">
              <img *ngIf="singleChallenge.pase_type == 'Pay'" class="star__icon" src="assets/imgs/book-pass.png">
            </ion-icon>
            <h2>{{ singleChallenge.challenge }}</h2>
            <p><strong>Difficult:</strong> {{ singleChallenge.difficult }}</p>
            <ion-icon class="star" name="" color="primary" item-end>
              <span class="star__value">{{singleChallenge.reward}}</span>
              <img class="star__icon" src="assets/imgs/fortnite-star.png">
            </ion-icon>
          </ion-item>
        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ion-content>
