<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="fortnite-name">Fortnite: The App</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="season-title">
    <span>Season 4</span>
  </h2>

  <img src="https://cdn2.unrealengine.com/Fortnite%2FBattle-pass%2Fseason4%2FPassPage%2FHeader%2FheroLineup-2166x1532-5b9eb76d1ab665e9ec583fa22ed9b914b2e4d02d.jpg" alt="Season 4">
  
  <div class="season-content" padding>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let season of seasons">
        <mat-expansion-panel-header color="dark">
          {{ season.data.name_to_show }}
        </mat-expansion-panel-header>
        <ion-list>
          <ion-item *ngFor="let singleChallenge of season.data['challenges']">
            <ion-icon name="star" color="secondary" item-start></ion-icon>
            <h2>{{ singleChallenge.challenge }}</h2>
            <p><strong>Difficult:</strong> {{ singleChallenge.difficult }}</p>
            <ion-icon name="eye" color="secondary" item-end></ion-icon>
          </ion-item>
        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ion-content>
